<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mis amigos - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Solicitudes de amistad</p>
        

        <% requests.forEach(request =>{ %>
            <div class=misAmigos>
                <img class="imgAmigos" src="/images/<%= request.image %>">
            
                <p class=requestName><%= request.name %></p>
            
                <form action="acceptFriend" method="POST">
                    <input type="hidden" name="user" value="<%= request.email %>">
                    <input class=acceptBtn type="submit" value="Aceptar">
                </form>
                <form action="rejectFriend" method="POST">
                    <input type="hidden" name="user" value="<%= request.email %>">
                    <input class=rejectBtn type="submit" value="Rechazar">
                </form>
            </div>
            
        
        <% }); %>
    <p class=encPag>Busqueda de amigos</p>
    <div class=busqueda>
        <form action="search" method="GET">
            <label>Buscar por nombre:</label>
            <input class=searchOpt type="text" name="name">
            <input class=amigosBtn type="submit" value="Buscar">
        </form>
    </div>
    <p class=encPag>Mis amigos</p>
    
        <!-- Amigos que ya han aceptado solicitud -->
        
            <% amigos.forEach(amigo =>{ %>
                <div class=misAmigos>
                    <img class="imgAmigos" src="/images/<%= amigo.image %>">
                
                    <p class=friendName><%= amigo.name %></p>
                
                    <form action="profile" method="POST">
                        <input type="hidden" name="user" value="<%= amigo.email %>">
                        <input class=amigosBtn type="submit" value="Perfil">
                    </form>
                </div>
                
            
            <% }); %>
        
    <%- include("error") %>
</body>


</html>