<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tu perfil - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <div class=menu>
        <div class=optMenu>
            <a href="perfil.html" class="menuLinks">Perfil</a>
        </div>
        <div class=optMenu>
            <a href="amigos.html" class="menuLinks">Amigos</a>
        </div>
        <div class=optMenu>
            <a href="preguntas.html" class="menuLinks">Preguntas</a>
        </div>
        <div class=optMenu>
            <a href="desconectar.html" class="menuLinks">Desconectar</a>
        </div>
        <div class=optMenu>
            <img class=imgPerfilSmall src=<%= image %>>
            <p><%= puntos %> pts</p>
        </div>
    </div>
    <p class=encPag>Tu perfil</p>

    <div class=perfil>

        <img class=imagenPerfil src=<%= image %>>
        
        <div class=profileDif>
            <p><%=name %> </p>
        </div>
        <div class=profile>
            <p><%= years %> años</p>
            <p><%= gender %></p>
            <p><%= puntos %> puntos</p>
            
        </div>
       
        <input class=formBtn type="button" value="Modificar Perfil">
            
    </div>
</body>


</html>