<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tu perfil - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Tu perfil</p>

    <div class=perfil>
        
        <img class=imagenPerfil src="/images/<%= imageProf %>">
        
        <div class=profileDif>
            <p class=profName><%= name %> </p>
        </div>
        <div class=profile>
            <% if(years) { %>
            <p class=profData><%= years %> años</p>
            <% } %>
            <p class=profData><%= gender %></p>
            <p class=profData><%= puntosProf %> puntos</p>
            
        </div>
        <div class=botonPerfil>
            <% if(myProf) { %>
                <a class=formBtn href="/users/mod_perfil.html">Modificar perfil </a>
               
            <% } %> 
                
        </div>
        
           

    </div>
    <%- include("error") %>
</body>


</html>