<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tu perfil - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Tu perfil</p>

    <div class=perfil>

        <img class=imagenPerfil src=<%= image %>>
        
        <div class=profileDif>
            <p><%=name %> </p>
        </div>
        <div class=profile>
            <p><%= years %> años</p>
            <p><%= gender %></p>
            <p><%= puntos %> puntos</p>
            
        </div>
       
        <input class=formBtn type="button" value="Modificar Perfil">
            
    </div>
</body>


</html>