<!DOCTYPE html>
<html lang="es">

<head>
    <title>Preguntas - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") %>
    <p class=encPag><%= p.pregunta %></p>
    <div class=questPerfDiv>
        <% if(answered) { %>
        <div><p class=questProfData>Ya has respondido a esta pregunta.</p></div>
        <% } else { %>
        <div><p class=questProfData>Aun no has respondido a esta pregunta.</p></div>
        <div><a class=formBtn href="/questions/n<%=p.id%>"> Contestar pregunta </a></div>
        <% } %>
    </div>
    <% if(friends && friends.len > 0) { %>
    <div class=questFriendsDiv><p class=questProfData>Estos amigos han contestado a esta pregunta:</p></div>
    <li>
        <% friends.forEach(f =>{ %>
        <div>
            <div><img class="imgAmigos" src="/images/<%= f.image %>"></div>
            <div><p class=requestName><%= f.name %></p></div>
            <div><a class=pregLinks href="/questions/n<%= p.id %>"> Adivinar </a></div>
        </div>
    <% }); %>
    </li>
    <% } else { %>
    <div class=questFriendsDiv><p class=questProfData>Ningun amigo tuyo ha contestado a esta pregunta.</p></div>
    <% } %>
</body>


</html>