<!DOCTYPE html>
<html lang="es">

<head>
    <title>Preguntas - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") %>
    <p class=encPag><%= p.pregunta %></p>
    <div class=questPerfDiv>
        <% if(answered) { %>
        <div><p class=questProfData>Ya has respondido a esta pregunta.</p></div>
        <% } else { %>
        <div><p class=questProfData>Aun no has respondido a esta pregunta.</p></div>
        <div><a class=formBtn href="/questions/num<%=p.id%>"> Contestar pregunta </a></div>
        <% } %>
    </div>
    <% if(friends && friends.length > 0) { %>
    <div class=questFriendsDiv><p class=questProfData>Estos amigos han contestado a esta pregunta:</p></div>
    <% friends.forEach(f =>{ %>
    <div class=questFriendsDiv>
        <div><img class="imgAmigos" src="/images/<%= f.image %>"></div>
        <p class=requestName><%= f.name %></p>
        <form action="guessQuestion<%= p.id %>" method="POST">
        <input type="hidden" name="userAmigo" value="<%= f.email %>">
        <% if (guessed === "no") { %>
            <div><input class=formBtn type="submit" value=" Adivinar "></div>
        <% } else if (guessed) { %>
            <div><p class=questProfData>Has acertado.</p></div>
        <% } else { %>
            <div><p class=questProfData>Has fallado.</p></div>
        <% } %>
        </form>
    </div>
    <% }); %>
    <% } else { %>
    <div class=questFriendsDiv><p class=questProfData>Ningun amigo tuyo ha contestado a esta pregunta.</p></div>
    <% } %>
</body>


</html>